@font-face {
	font-family: "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体;
	src: url('//at.alicdn.com/t/font_1431504418_7238076.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/font_1431504418_7238076.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
        url('//at.alicdn.com/t/font_1431504418_7238076.woff')
		format('woff'), /* chrome閵嗕公irefox */
        url('//at.alicdn.com/t/font_1431504418_7238076.ttf')
		format('truetype'),
		/* chrome閵嗕公irefox閵嗕狗pera閵嗕讣afari, Android, iOS 4.2+*/
        url('//at.alicdn.com/t/font_1431504418_7238076.svg#iconfont')
		format('svg'); /* iOS 4.1- */
}

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset,
	legend, input, textarea, select, img {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB,
		\5b8b\4f53;
	overflow: hidden;
	position: relative;
}

html, body, .am-page, .am-body, .am-bg {
	height: 100%;
	width: 100%;
}

html, body, .am-page {
	overflow: hidden;
}

ul, li {
	list-style: none;
}

.am-body {
	position: absolute;
	top: 0;
	left: 0;
}

.iconfont {
	font-family: "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	display: block;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.w320 {
	width: 320px;
}

.fn-hide {
	display: none !important;
}

.arrow-down {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-width: 5px 5px 0 5px;
	border-color: #eeeeee transparent transparent transparent;
	border-style: solid dashed dashed dashed;
}

.am-page, .am-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.am-page {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.am-bg {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
}

.main-content, .ft-content {
	margin: 0 auto;
	height: 100%;
}

.main-content {
	position: relative;
	z-index: 99;
}

.onepage-pagination {
	position: absolute;
	right: 25px;
	top: 50%;
	z-index: 996;
}

.onepage-pagination a, .onepage-pagination .dotted {
	display: block;
	width: 10px;
	height: 10px;
}

.onepage-pagination a {
	padding: 8px;
}

.onepage-pagination .dotted {
	border: 1px #cccccc solid;
	position: relative;
	display: block;
	-moz-border-radius: 30px; /* Firefox */
	-webkit-border-radius: 30px; /* Safari 鍜�Chrome */
	border-radius: 30px; /* Opera 10.5+, 浠ュ強浣跨敤浜咺E-CSS3鐨処E娴忚鍣�*/
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
}

.onepage-pagination .active .dotted {
	border-color: #0cf;
	background-color: #0cf !important;
}

.ftbar {
	height: 60px;
	overflow: hidden;
	z-index: 101;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, .3);
}

.ft-content {
	
}

.products {
	padding-top: 12px;
}

.product {
	float: left;
}

.product .icon {
	font-family: "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体;
	color: #fff;
	font-size: 32px;
	float: left;
	font-style: normal;
	display: block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.product .tips {
	padding-left: 12px;
	margin-left: 42px;
	position: relative;
}

.product .tips:before {
	content: "";
	display: block;
	background-color: #b5b5b5;
	position: absolute;
	height: 90%;
	width: 1px;
	top: 1px;
	left: -1px;
}

.product .tips p, .product .tips span {
	line-height: 1;
}

.product .tips p, .product .tips span {
	color: #fff;
}

.product .tips p {
	font-size: 16px;
}

.product .tips span {
	font-size: 12px;
	margin-top: 5px;
	display: inline-block;
}

.products .zzfk, .products .gh, .products .ewmfk, .products .wjsy,
	.products .gjys {
	margin-left: 40px;
}

.products .gjhk, .products .ssqx, .products .ckbg, .products .sbfk,
	.products .rmbfk {
	float: right;
	margin-right: 40px;
}
/*.products .ewmfk,.products .fkmfk,.products .gjys,.products .ppzp { width: 320px;}*/
.products .fkmfk {
	margin-left: 150px;
}

.products .ppzp {
	margin-left: 130px;
}

.products .ewmfk {
	
}

.products .gh {
	
}

.products .yhf, .products .zndz {
	margin-left: 80px;
}
/*.products .wjsy {margin-left: 80px;}*/
.products .aqbz {
	margin-left: 80px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

.header .am-header-inner {
	position: relative;
	z-index: 2;
}

.header .topNav {
	background: #fff;
	border-bottom: 1px solid #ff8903;
}

.header .laymid {
	width:1200px;
	margin: 0 auto;
}

.topNav {
	font-size: 12px;
	height: 28px;
	line-height: 28px;
}

.topNav li {
	float: left;
	margin: 0 15px;
	text-align: center;
}

.topNav li.first {
	margin-left: 0 !important;
}

.topNav, .topNav a, .topNav span {
	color: #474747;
	font-size: 12px;
}

.topNav a {
	text-decoration: none;
}

.topNav a:hover, .topNav li.on a {
	color: #ff8903;
}

.topNav .rlink li {
	margin: 0 5px;
}

.am-bannarAd-box {
	position: relative;
	z-index: 1;
	display: none;
}

.mainNav {
	background-color: #f5f5f5;
}

.mainMenu {
	float: right;
}

.alipay-logo {
	display: block;
	width: 115px;
	position: relative;
	left: 0;
	top: 20px;
	float: left;
	height: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../img/logo.png);
}

.mainNav, .mainMenu, .channel .downlist .close {
	height: 80px;
}

.channel {
	float: left;
	height: 80px;
	line-height: 80px;
	position: relative;
}

.channel .channel-a, .channel .downlist a {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	display: block;
}

.channel .downlist {
	display: none;
	box-shadow: 0 0 2px rgba(128, 128, 128, 0.5);
	position: absolute;
	top: 0;
	left: -5px;
	width: 100%;
	padding: 0 5px 0;
	text-align: center;
	background: #ffffff;
}

.channel .downlist a {
	line-height: 28px;
	padding: 0 5px;
	margin: 0 -5px;
}

.channel .downlist .together {
	padding-bottom: 15px;
}

.channel .downlist .tp a {
	font-size: 14px;
}

.channel .downlist .ft {
	border-top: 1px #eeeeee solid;
}

.channel .downlist .ft span {
	font-size: 16px;
	color: #999;
	display: block;
	height: 80px;
	line-height: 80px;
}

.channel .downlist a:hover {
	background: #00bbee;
	color: #fff;
}

.channel .downlist .close {
	display: block;
	cursor: pointer;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	color: #999;
	font-family: "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体;
	-webkit-font-smoothing: antialiased;
}

.mainMenu .hover .downlist {
	display: block;
}

.channel-a {
	padding: 0 15px;
}

.channel-a:hover, .mainMenu .on .channel-a, .am-service .downlist a:hover
	{
	color: #ff8903;
}

.hasleftline {
	padding-left: 20px;
	margin-left: 20px;
}

.hasleftline:before {
	content: "";
	display: block;
	position: absolute;
	top: 32px;
	left: 0;
	width: 1px;
	height: 16px;
	background: #444;
}

.buttons {
	margin-top: 25px;
	float: right;
	margin-right: 40px;
}

.buttons .am-button-innerNav {
	text-decoration: none;
	text-align: center;
	display: block;
	height: 28px;
	line-height: 28px;
	margin-left: 15px;
}

.buttons .button-myalipay, .buttons .button-login, .video-area .button-login
	{
	background: #f16f3e;
	color: #ffffff;
}

.buttons .button-myalipay, .buttons .button-login {
	-moz-border-radius: 2px; /* Firefox */
	-webkit-border-radius: 2px; /* Safari 鍜�Chrome */
	border-radius: 2px; /* Opera 10.5+, 浠ュ強浣跨敤浜咺E-CSS3鐨処E娴忚鍣�*/
}

.buttons .button-login {
	font-size: 14px;
	width: 84px;
}

.buttons .button-register {
	color: #f16f3e;
	font-size: 12px;
}

.buttons .button-myalipay {
	padding: 0 15px;
	margin-right: 8px;
	margin-left: 0;
}

.buttons dd {
	float: left;
}

.am-service {
	position: relative;
}

.am-service .arrow-down {
	*position: relative;
	*top: -3px;
	*left: 3px;
	margin-left: 3px;
	-webkit-transition: .5s 0s all;
	-o-transition: .5s 0s all;
	-moz-transition: .5s 0s all;
	-ms-transition: .5s 0s all;
	transition: .5s 0s all;
}

.am-service:hover .arrow-down {
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.am-service .downlist {
	padding: 5px 0;
	top: 28px;
	left: -10px;
	width: 80px;
	text-align: center;
	display: none;
	border: 1px #f1f1f1 solid;
	border-width: 0 1px 1px 1px;
	background: #fff;
	position: absolute;
}

.am-service .downlist a {
	color: #333;
	display: block;
}

.am-service:hover .downlist {
	display: block;
}

.video-mask {
	visibility: hidden;
	z-index: 99;
	background: #000;
	opacity: 0.35;
	filter: alpha(opacity = 40);
}

.stat-novideo .video-player, .stat-ready .video-mask {
	visibility: hidden;
}

.stat-playing .video-mask, .stat-end .video-mask, .stat-novideo .video-mask,
	.stat-pause .video-mask, .stat-pause .video-player, .stat-playing .video-player
	{
	visibility: visible;
}

.stat-playing .play {
	visibility: hidden;
}

.stat-pause .play {
	visibility: visible;
}

.stat-end .poster, .stat-novideo .poster {
	opacity: 1;
	visibility: visible;
}

.stat-end .play {
	visibility: visible;
}

.stat-end .video-player {
	visibility: hidden;
}

.stat-ready .video-loading {
	visibility: visible;
}

.popbox {
	display: none;
	height: 0;
}

.popbox .popmask {
	visibility: hidden;
	display: block;
	position: fixed;
	z-index: 997;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}

.popbox .loginbox .iframe, .popbox .loginbox iframe, .popbox .popmask {
	width: 100%;
	height: 100%;
}

.popbox .loginbox .iframe {
	position: relative;
}

.popbox .loginbox iframe {
	visibility: hidden;
	width: 286px;
	overflow: hidden;
}

.popbox .loginbox .loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("img/gd.gif") #000000 no-repeat center center;
}

.popbox .loginbox {
	width: 286px;
	height: 380px;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari 鍜�Chrome */
	border-radius: 5px; /* Opera 10.5+, 浠ュ強浣跨敤浜咺E-CSS3鐨処E娴忚鍣�*/
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	z-index: 1001;
	top: 50%;
	left: 50%;
	margin-left: -143px;
	margin-top: -120px;
}

.popbox .popbox-close {
	position: absolute;
	z-index: 9;
	top: 5px;
	left: 10px;
	font-size: 16px;
	color: #ccc;
	text-decoration: none;
}

.popbox .popbox-close:hover {
	color: #f1f1f1;
}

.stat-login {
	display: block !important;
}

.stat-login .loginbox, .popbox .popmask {
	visibility: visible;
}

/*缁楊兛绨╂い锟�
.am-cloud {
	position: absolute;
	z-index: 9;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.am-boy {
	width: 120px;
	left: 30%;
	top: 55%;
}

.am-kind {
	width: 600px;
	right: 10%;
	top: 10%;
}

.am-smart {
	width: 227px;
	left: -20%;
	top: 10px;
}

.am-flying {
	width: 340px;
	left: 0%;
	top: 150px;
}

.am-stupid {
	width: 224px;
	left: 5%;
	top: 150px;
}

.am-seeyou {
	width: 343px;
	right: -5%;
	top: 10px;
}

.am-here {
	width: 400px;
	right: -5%;
	top: 5%;
}

.songbao {
	-webkit-transition: .2s 0 width linear;
	position: absolute;
	z-index: 10;
	width: 965px;margin:0 auto; /*height: 748px;*/
	bottom: 0;
	right: -15%;
}

/*閺堬拷鎮楁稉锟姐�*/
.am-five .am-bg .am-part-white, .am-five .am-bg .am-part-black {
	width: 100%;
	display: block;
	position: absolute;
	z-index: 0;
}

.am-five .am-bg .am-part-white {
	top: 0;
	left: 0;
	background: #f5f5f5;
}

.am-five .am-bg .am-part-black {
	bottom: 0;
	left: 0;
	background: #1e1b29;
}

.am-five .am-bg .am-part-white, .am-five .white-area {
	height: 70%;
	min-height: 430px;
	z-index: 2;
}

.am-five .am-bg .am-part-black, .am-five .black-area {
	height: 30%;
	z-index: 1;
}

.am-five .white-area .layout {
	width: 98%;
	margin: 0 auto;
}

.happy-life {
	padding-top: 110px;
}

.youcans {
	padding-top: 40px;
	padding-bottom: 40px;
}

.youcan {
	float: left;
	width: 25%;
	*width: 24.8%;
}

.youcan .icon {
	color: #aaaaaa;
	font-family: "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体;
	text-align: center;
	line-height: 36px;
	font-size: 36px;
	font-style: normal;
	float: left;
	display: block;
	height: 36px;
	width: 36px;
	-webkit-font-smoothing: antialiased;
}

.youcan .tips {
	margin-top: 4px;
}

.youcan .tips p {
	font-size: 14px;
}

.youcan .tips span {
	font-size: 14px;
	color: #999;
}

.youcan .tips a {
	text-decoration: none;
	color: #999;
}

.youcan .tips a:hover, .newslist li a:hover, .tlink a:hover {
	text-decoration: underline;
}

.youcan .icon-pay {
	color: #ffb400;
}

.youcan .icon-member {
	color: #47a8ef;
}

.youcan .icon-oversea {
	color: #ff6600;
}

.youcan .icon-play {
	color: #47a8ef;
}

.youcan .title {
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	margin-left: 45px;
}

.filed {
	border-top: 1px #eeeeee solid;
}

.filed a {
	text-decoration: none;
	color: #333;
}

.filed .block {
	padding-top: 40px;
	width: 25%;
	*width: 24.8%;
	float: left;
}

.notice span {
	float: left;
	color: #666;
}

.newslist {
	margin-left: 32px;
}

.newslist li {
	line-height: 20px;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}

.newslist li a, .follow-us .weibo, .follow-us, .tlink a {
	color: #999;
}

.tlink {
	margin-bottom: 10px;
	margin-top: 2px;
}

.tlink a {
	line-height: 1;
	float: left;
	margin-bottom: 5px;
	margin-left: 8px;
	padding-left: 8px;
	border-left: 1px #999 solid;
}

.tlink a.first {
	margin-left: 0 !important;
	padding-left: 0 !important;
	border-left: 0 !important;
}

.follow-us {
	line-height: 14px;
}

.follow-us .weibo {
	text-decoration: underline;
	margin-left: 5px;
}

.alipay-app {
	
}

.alipay-app p {
	color: #999999;
}

.qrcode {
	display: block;
	width: 80px;
	height: 80px;
	padding: 1px;
	border: 1px #e9e9e9 solid;
}

.footer, .footer a {
	color: #999999;
}

.footer {
	padding-top: 30px;
}

.footer .links {
	line-height: 1;
	padding: 0 0 5px;
}

.footer .links a {
	float: left;
	text-decoration: none;
	margin-bottom: 5px;
	border-left: 1px #999999 solid;
	margin-right: 5px;
	padding-left: 5px;
}

.footer .links a:first-child {
	border-left: 0;
	padding-left: 0 !important;
}

.footer .certs {
	margin-top: 5px;
	height: 38px;
}

.footer .certs a {
	display: block;
	float: left;
	height: 38px;
	background: url(img/pic.png) no-repeat 0 0;
	margin-right: 20px;
}

.footer .certs .pic1 {
	background-position: -4px -20px;
	width: 32px;
}

.footer .certs .pic1:hover {
	background-position: -2px -64px;
}

.footer .certs .pic2 {
	background-position: -64px -15px;
	width: 70px;
}

.footer .certs .pic2:hover {
	background-position: -62px -60px;
}

.footer .certs .pic3 {
	background-position: -140px -15px;
	width: 65px;
}

.footer .certs .pic3:hover {
	background-position: -138px -60px;
}

.footer .certs .pic4 {
	background-position: -225px -15px;
	width: 30px;
}

.footer .certs .pic4:hover {
	background-position: -223px -60px;
}

.footer .certs .pic5 {
	background-position: -260px -15px;
	width: 60px;
}

.footer .certs .pic5:hover {
	background-position: -258px -59px;
}

.footer .certs .pic6 {
	background-position: -390px -18px;
	width: 30px;
}

.footer .certs .pic6:hover {
	background-position: -390px -58px;
}

.footer .certs .pic7 {
	background-position: -335px -18px;
	width: 40px;
}

.footer .certs .pic7:hover {
	background-position: -334px -58px;
}

.footer .certs .pic8 {
	background-position: -428px -18px;
	width: 40px;
}

.footer .certs .pic8:hover {
	background-position: -428px -58px;
}

/*閸忓啰绀岄崚婵嗩潗閻樿埖锟�/
.am-page .words {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 11;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.am-page .words img {
	width: 100%;
	height: 100%;
}

.view2 .words {
	-webkit-transition: 1s .2s opacity;
	-o-transition: 1s .2s opacity;
	-moz-transition: 1s .2s opacity;
	-ms-transition: 1s .2s opacity;
	transition: 1s .2s opacity;
	top: 30%;
	left: 25%;
	width: 315px;
}

.view3 .words {
	-webkit-transition: 1s 1.2s opacity;
	-o-transition: 1s 1.2s opacity;
	-moz-transition: 1s 1.2s opacity;
	-ms-transition: 1s 1.2s opacity;
	transition: 1s 1.2s opacity;
	top: 29%;
	left: 50%;
	width: 345px;
}

.view4 .words {
	-webkit-transition: 1s 1.5s opacity;
	-o-transition: 1s 1.5s opacity;
	-moz-transition: 1s 1.5s opacity;
	-ms-transition: 1s 1.5s opacity;
	transition: 1s 1.5s opacity;
	top: 30%;
	left: 100px;
	width: 300px;
}

.view5 .words {
	-webkit-transition: 1s .5s opacity;
	-o-transition: 1s .5s opacity;
	-moz-transition: 1s .5s opacity;
	-ms-transition: 1s .5s opacity;
	transition: 1s .5s opacity;
	top: 30%;
	right: 18%;
	width: 300px;
}

.view3 .up {
	position: absolute;
	-webkit-transition: .8s .5s all;
	-o-transition: .8s .5s all;
	-moz-transition: .8s .5s all;
	-ms-transition: .8s .5s all;
	transition: .8s .5s all;
}

.view3 .down {
	position: absolute;
	-webkit-transition: .5s .2s all;
	-o-transition: .5s .2s all;
	-moz-transition: .5s .2s all;
	-ms-transition: .5s .2s all;
	transition: .5s .2s all;
}

.view3 .up {
	z-index: 2;
	top: -500px;
	left: -530px;
	width: 480px;
}

.view3 .down {
	z-index: 1;
	top: 102%;
	left: 55%;
	width: 1600px;
}

.am-six .words {
	-webkit-transition: 1s 1.5s opacity;
	-o-transition: 1s 1.5s opacity;
	-moz-transition: 1s 1.5s opacity;
	-ms-transition: 1s 1.5s opacity;
	transition: 1s 1.5s opacity;
	top: 30%;
	left: 13%;
	width: 355px;
}
/* 鏉╂稑鍙嗛崝銊ф暰*/
.animateIn-one .words, .animateIn-two .words, .animateIn-three .words,
	.animateIn-four .words, .animateIn-six .words {
	visibility: visible;
	opacity: 1;
}

.am-three .am-bg, .am-one .am-bg {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
/*濞村嘲顦荤拹顓犲⒖*/
.am-six .am-bg {
	-webkit-transition: 16s 0s all ease;
	-o-transition: 16s 0s all ease;
	-moz-transition: 16s 0s all ease;
	transition: 16s 0s all ease;
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}

.animateIn-six .am-bg {
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
/*閺呯儤鍙庨崠鑽ゆ灍*/
.am-three .am-bg {
	-webkit-transition: 16s 0s all ease;
	-o-transition: 16s 0s all ease;
	-moz-transition: 16s 0s all ease;
	transition: 16s 0s all ease;
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.animateIn-three .am-bg {
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}
/*閺夋儳鐤�/
.am-one .am-bg {
	-webkit-transition: 3s 0s all;
	-o-transition: 3s 0s all;
	-moz-transition: 3s 0s all;
	transition: 3s 0s all ease;
	-webkit-transform: scale(1.02, 1.02);
	-o-transform: scale(1.02, 1.02);
	-moz-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
}

.animateIn-one .am-bg {
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}

.animateIn-two .up {
	top: -100px;
	left: 2%;
}

.animateIn-two .down {
	top: 400px;
	left: 12%;
}

.am-four .am-bg .mask {
	visibility: hidden;
	-webkit-transition: 2s 2s opacity;
	-o-transition: 2s 2s opacity;
	-moz-transition: 2s 2s opacity;
	-ms-transition: 2s 2s opacity;
	transition: 2s 2s opacity;
	opacity: 0;
	content: "";
	background: #2D0E0E;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.animateIn-four .am-bg .mask {
	opacity: 0.6;
	filter: alpha(opacity = 60);
	visibility: visible;
}

.alipay-ads {
	position: relative;
}

.alipay-ads h4 {
	color: #000;
	font-weight: 800;
	font-size: 14px;
}

.alipay-ads p {
	width: 160px;
	padding: 5px 0 10px;
	color: #999;
}

.alipay-ads .ads-img {
	border: 0;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 1;
	display: block;
	width: 150px;
}

.alipay-ads .ads-text {
	position: relative;
	z-index: 2;
}

.alipay-ads .ads-text .link-detail {
	text-decoration: none;
	float: left;
	display: block;
	line-height: 1.5;
	padding: 2px 15px;
	background: #959595;
	color: #fff;
}

/*瑜版捁顔曟径鍥ь啍鐏忓繋绗�200px閺冨墎娈戦柅鍌炲帳*/
.belowW1200 .header .laymid, .belowW1200 .ft-content, .belowW1200 .main-content
	{
	width: 990px;
}

.belowW1200 .mainMenu {
	margin-left: 260px;
}

.belowW1200 .products .gjhk, .belowW1200 .products .sbfk {
	
}

.belowW1200 .products .yhf, .belowW1200 .products .zndz {
	margin-left: 28px;
}

.belowW1200 .products .aqbz {
	margin-left: 0px;
}

.belowW1200 .products .fkmfk {
	margin-left: 50px;
}

.belowW1200 .products .ppzp {
	margin-left: 20px;
}

.belowW1200 .products .wjsy {
	margin-left: 0;
}

.belowW1200 .products .ewmfk {
	
}

.belowW1200 .products .zzfk, .belowW1200 .products .ewmfk, .belowW1200 .products .wjsy
	{
	margin-left: 40px;
}

.belowW1200 .products .gh {
	margin-left: 10px;
}

.belowW1200 .products .ckbg {
	margin-right: 10px;
}

.belowW1200 .songbao {
	right: -30%;
}

.belowW1200 .am-two .words {
	left: 54%;
}

.belowW1200 .am-three .words {
	left: 50px;
}

.belowW1200 .animateIn-two .up {
	top: -100px;
	left: 0%;
}

.belowW1200 .animateIn-two .down {
	top: 400px;
	left: 10%;
}

.belowW1200 .channel-a {
	padding: 0 25px;
}

.belowW1200 .alipay-ads .ads-img {
	right: -30px;
	width: 120px;
}

.w3 {
	width: 385px;
	margin-left: 15px;
}

.w4 {
	width: 285px;
	margin-left: 15px;
}

.belowW1200 .w3 {
	width: 320px;
	margin-left: 10px;
}

.belowW1200 .w4 {
	width: 235px;
	margin-left: 12px;
}

/*瑜版捁顔曟径鍥彯鐏忓繋绗�50px閺冨墎娈戦柅鍌炲帳*/
.maxH650 .songbao {
	width: 800px;
	bottom: -50px;
}

.maxH650 .up {
	width: 420px;
	top: -380px;
}

.maxH650 .down {
	width: 1300px;
}

.maxH650 .animateIn-two .up {
	width: 420px;
	top: -100px;
}

.maxH650 .animateIn-two .down {
	width: 1300px;
	top: 300px;
}

.maxH800 .songbao {
	width: 820px;
	bottom: 0px;
}

.maxH800 .am-two .words {
	top: 35%;
}

.maxH800 .animateIn-two .up {
	width: 440px;
	top: -80px;
	left: 5%;
}

.maxH800 .animateIn-two .down {
	width: 1340px;
	top: 380px;
	left: 15%;
}

.big800 .am-one .words {
	top: 35%;
	left: 18%;
}

.big800 .am-two .words {
	top: 300px;
}

.big800 .animateIn-two .up {
	width: 500px;
	top: -100px;
}

.big800 .animateIn-two .down {
	width: 1600px;
	top: 460px;
}

/*瑜版捁顔曟径鍥彯娑擄拷00px閺冨墎娈戦柅鍌炲帳*/
.bigscreen .am-five .am-bg .am-part-white, .bigscreen .am-five .white-area
	{
	height: 50%;
	min-width: 400px;
}

.bigscreen .am-five .am-bg .am-part-black, .bigscreen .am-five .black-area
	{
	height: 50%;
}
/*
      .go-next {text-align: center; color: #fff; font-size: 36px; position: fixed; bottom: 80px; left: 50%; margin-left: -15px; display: block; width: 40px; height: 40px; line-height: 40px; z-index: 99; cursor: pointer; }
      .upanddown {
        -webkit-animation: pulse 1.5s 0 linear infinite;
        animation: pulse 1.5s 0 linear infinite;
      }*/
.laynext {
	position: relative;
	z-index: 99;
	line-height: 0;
	height: 0;
	top: 100%;
	left: 0;
}

.go-next {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: 36px;
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -15px;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	z-index: 99;
	cursor: pointer;
}

@
-webkit-keyframes upanddown { 0%, 100% {
	bottom: 80px
}

50%
{
bottom


:

 

70
px


        

}
}
@
-webkit-keyframes aw-pulse { 0%, 100% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

50%
{
-webkit-transform


:

 

translate3d


(0
,
10
px
,
0);
transform


:

 

translate3d


(0
,
10
px
,
0);
}
}
.upanddown {
	-webkit-animation: pulse 2s 0 linear infinite;
	/*
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);*/
}

.am-page, .am-bg, .am-page .main-content, .video-mask, .ftbar {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.fuck-ie {
	display: none;
}

.alipay-flash-logo {
	width: 260px;
	height: 45px;
	overflow: hidden;
}

.alipay-noflash {
	text-indent: -500px;
	overflow: hidden;
}

.white-nav .mainNav {
	background-color: #ffffff !important;
	filter: alpha(opacity = 100);
}

.white-nav .header {
	border-bottom: 0;
}

#ServerNum, #ServerNum p {
	line-height: 1;
	text-align: center;
	color: #1e1b29;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@
-webkit-keyframes bgscalein { 0%{
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1)
}

100%{
-webkit-transform


:scale


(1
,
1);
-o-transform


:scale


(1
,
1);
-moz-transform


:scale


(1
,
1);
-ms-transform


:scale


(1
,
1);
transform


:scale


(1
,
1)
}
}
@
keyframes bgscalein { 0%{
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1)
}

100%{
-webkit-transform


:scale


(1
,
1);
-o-transform


:scale


(1
,
1);
-moz-transform


:scale


(1
,
1);
-ms-transform


:scale


(1
,
1);
transform


:scale


(1
,
1)
}
}
@
-webkit-keyframes bgfadein { 0%{
	opacity: 0
}

100%{
opacity


:


1
}
}
@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity


:


1
}
}
@
keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity


:


1
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@
-webkit-keyframes bounceIn { 0%,100%,20%,40%,60%,80%{
	-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
}

0%{
opacity


:


0;
-webkit-transform


:scale3d


(
.3
,
.3
,
.3


);
transform


:scale3d


(
.3
,
.3
,
.3


)
}
20%{
-webkit-transform


:scale3d


(1
.1
,
1
.1
,
1
.1


);
transform


:scale3d


(1
.1
,
1
.1
,
1
.1


)
}
40%{
-webkit-transform


:scale3d


(
.9
,
.9
,
.9


);
transform


:scale3d


(
.9
,
.9
,
.9


)
}
60%{
opacity


:


1;
-webkit-transform


:scale3d


(1
.03
,
1
.03
,
1
.03


);
transform


:scale3d


(1
.03
,
1
.03
,
1
.03


)
}
80%{
-webkit-transform


:scale3d


(
.97
,
.97
,
.97


);
transform


:scale3d


(
.97
,
.97
,
.97


)
}
100%{
opacity


:


1;
-webkit-transform


:scale3d


(1
,
1,1);
transform


:scale3d


(1
,
1,1)
}
}
@
keyframes bounceIn { 0%,100%,20%,40%,60%,80%{
	-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	-o-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	-moz-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	-ms-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
}

0%{
opacity


:


0;
-webkit-transform


:scale3d


(
.3
,
.3
,
.3


);
-o-transform


:scale3d


(
.3
,
.3
,
.3


);
-moz-transform


:scale3d


(
.3
,
.3
,
.3


);
-ms-transform


:scale3d


(
.3
,
.3
,
.3


);
transform


:scale3d


(
.3
,
.3
,
.3


)
}
20%{
-webkit-transform


:scale3d


(1
.1
,
1
.1
,
1
.1


);
-o-transform


:scale3d


(1
.1
,
1
.1
,
1
.1


);
-moz-transform


:scale3d


(1
.1
,
1
.1
,
1
.1


);
-ms-transform


:scale3d


(1
.1
,
1
.1
,
1
.1


);
transform


:scale3d


(1
.1
,
1
.1
,
1
.1


)
}
40%{
-webkit-transform


:scale3d


(
.9
,
.9
,
.9


);
-o-transform


:scale3d


(
.9
,
.9
,
.9


);
-moz-transform


:scale3d


(
.9
,
.9
,
.9


);
-ms-transform


:scale3d


(
.9
,
.9
,
.9


);
transform


:scale3d


(
.9
,
.9
,
.9


)
}
60%{
opacity


:


1;
-webkit-transform


:scale3d


(1
.03
,
1
.03
,
1
.03


);
-o-transform


:scale3d


(1
.03
,
1
.03
,
1
.03


);
-moz-transform


:scale3d


(1
.03
,
1
.03
,
1
.03


);
-ms-transform


:scale3d


(1
.03
,
1
.03
,
1
.03


);
transform


:scale3d


(1
.03
,
1
.03
,
1
.03


)
}
80%{
-webkit-transform


:scale3d


(
.97
,
.97
,
.97


);
-o-transform


:scale3d


(
.97
,
.97
,
.97


);
-moz-transform


:scale3d


(
.97
,
.97
,
.97


);
-ms-transform


:scale3d


(
.97
,
.97
,
.97


);
transform


:scale3d


(
.97
,
.97
,
.97


)
}
100%{
opacity


:


1;
-webkit-transform


:scale3d


(1
,
1,1);
-o-transform


:scale3d


(1
,
1,1);
-moz-transform


:scale3d


(1
,
1,1);
-ms-transform


:scale3d


(1
,
1,1);
transform


:scale3d


(1
,
1,1)
}
}
.bounceIn {
	-webkit-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-ms-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	-o-animation-duration: .75s;
	-moz-animation-duration: .75s;
	-ms-animation-duration: .75s;
	animation-duration: .75s
}

@
-webkit-keyframes move_kind { 0%{
	-webkit-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0)
}

100%{
-webkit-transform


:translate3d


(0
,
0,0);
transform


:translate3d


(0
,
0,0)
}
}
@
keyframes move_kind { 0%{
	-webkit-transform: translate3d(-60%, 0, 0);
	-o-transform: translate3d(-60%, 0, 0);
	-moz-transform: translate3d(-60%, 0, 0);
	-ms-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0)
}

100%{
-webkit-transform


:translate3d


(0
,
0,0);
-o-transform


:translate3d


(0
,
0,0);
-moz-transform


:translate3d


(0
,
0,0);
-ms-transform


:translate3d


(0
,
0,0);
transform


:translate3d


(0
,
0,0)
}
}
.move-kind {
	-webkit-animation: move_kind 120s 0 linear;
	-o-animation: move_kind 120s 0 linear;
	-moz-animation: move_kind 120s 0 linear;
	-ms-animation: move_kind 120s 0 linear;
	animation: move_kind 120s 0 linear
}

@
-webkit-keyframes move_stupid { 0%{
	-webkit-transform: translate3d(-70%, 0, 0);
	transform: translate3d(-70%, 0, 0)
}

100%{
-webkit-transform


:translate3d


(0
,
0,0);
transform


:translate3d


(0
,
0,0)
}
}
@
keyframes move_stupid { 0%{
	-webkit-transform: translate3d(-70%, 0, 0);
	-o-transform: translate3d(-70%, 0, 0);
	-moz-transform: translate3d(-70%, 0, 0);
	-ms-transform: translate3d(-70%, 0, 0);
	transform: translate3d(-70%, 0, 0)
}

100%{
-webkit-transform


:translate3d


(0
,
0,0);
-o-transform


:translate3d


(0
,
0,0);
-moz-transform


:translate3d


(0
,
0,0);
-ms-transform


:translate3d


(0
,
0,0);
transform


:translate3d


(0
,
0,0)
}
}
.move-boy, .move-stupid {
	-webkit-animation: move_stupid 120s 0 linear;
	-o-animation: move_stupid 120s 0 linear;
	-moz-animation: move_stupid 120s 0 linear;
	-ms-animation: move_stupid 120s 0 linear;
	animation: move_stupid 120s 0 linear
}

@
-webkit-keyframes move_here { 0%{
	-webkit-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0)
}

100%{
-webkit-transform


:translate3d


(0
,
0,0);
transform


:translate3d


(0
,
0,0)
}
}
@
keyframes move_here { 0%{
	-webkit-transform: translate3d(-60%, 0, 0);
	-o-transform: translate3d(-60%, 0, 0);
	-moz-transform: translate3d(-60%, 0, 0);
	-ms-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0)
}

100%{
-webkit-transform


:translate3d


(0
,
0,0);
-o-transform


:translate3d


(0
,
0,0);
-moz-transform


:translate3d


(0
,
0,0);
-ms-transform


:translate3d


(0
,
0,0);
transform


:translate3d


(0
,
0,0)
}
}
.move-here {
	-webkit-animation: move_here 120s 0 linear;
	-o-animation: move_here 120s 0 linear;
	-moz-animation: move_here 120s 0 linear;
	-ms-animation: move_here 120s 0 linear;
	animation: move_here 120s 0 linear
}

@
-webkit-keyframes pulse { 0%,100%{
	-webkit-transform: scale(1);
	transform: scale(1)
}

50%{
-webkit-transform


:scale


(0
.8


);
transform


:scale


(0
.8


)
}
}
@
keyframes pulse { 0%,100%{
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1)
}

50%{
-moz-transform


:scale


(0
.8


);
-o-transform


:scale


(0
.8


);
-webkit-transform


:scale


(0
.8


);
transform


:scale


(0
.8


)
}
}
@
-webkit-keyframes slideDown { 0%{
	-webkit-transform: scaleY(0.1);
	transform: scaleY(0.1)
}

40%{
-webkit-transform


:scaleY


(1
.04


);
transform


:scaleY


(1
.04


)
}
60%{
-webkit-transform


:scaleY


(0
.98


);
transform


:scaleY


(0
.98


)
}
80%{
-webkit-transform


:scaleY


(1
.02


);
transform


:scaleY


(1
.02


)
}
100%{
-webkit-transform


:scaleY(1)


;
transform


:scaleY(1)


}
}
@
keyframes slideDown { 0%{
	-moz-transform: scaleY(0.1);
	-ms-transform: scaleY(0.1);
	-o-transform: scaleY(0.1);
	-webkit-transform: scaleY(0.1);
	transform: scaleY(0.1)
}

40%{
-moz-transform


:scaleY


(1
.04


);
-ms-transform


:scaleY


(1
.04


);
-o-transform


:scaleY


(1
.04


);
-webkit-transform


:scaleY


(1
.04


);
transform


:scaleY


(1
.04


)
}
60%{
-moz-transform


:scaleY


(0
.98


);
-ms-transform


:scaleY


(0
.98


);
-o-transform


:scaleY


(0
.98


);
-webkit-transform


:scaleY


(0
.98


);
transform


:scaleY


(0
.98


)
}
80%{
-moz-transform


:scaleY


(1
.02


);
-ms-transform


:scaleY


(1
.02


);
-o-transform


:scaleY


(1
.02


);
-webkit-transform


:scaleY


(1
.02


);
transform


:scaleY


(1
.02


)
}
100%{
-moz-transform


:scaleY(1)


;
-ms-transform


:scaleY(1)


;
-o-transform


:scaleY(1)


;
-webkit-transform


:scaleY(1)


;
transform


:scaleY(1)


}
}
.channel .downlist {
	max-height: 0;
	-webkit-transition: max-height 5s 0s ease-in-out;
	-moz-transition: max-height 5s 0s ease-in-out;
	-o-transition: max-height 5s 0s ease-in-out;
	-ms-transition: max-height 5s 0s ease-in-out;
	transition: max-height 5s 0s ease-in-out;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0
}

.hover .downlist {
	display: block;
	max-height: 999px;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-moz-animation: slideDown .5s ease-in-out;
	-o-animation: slideDown .5s ease-in-out;
	-ms-animation: slideDown .5s ease-in-out;
	-webkit-animation: slideDown .5s ease-in-out;
	animation: slideDown .5s ease-in-out;
	-moz-transition: max-height 1s ease-in-out;
	-o-transition: max-height 1s ease-in-out;
	-webkit-transition: max-height 1s ease-in-out;
	-ms-transition: max-height 1s ease-in-out;
	transition: max-height 1s ease-in-out
}

.checkbox {
	vertical-align: inherit;
	margin: auto;
	height: 30px;
	padding: 0;
}

.video-area {
	/*background-color: #666666;*/
	background-image: url(../img/bg.jpg);
	background-position-x:100%
}

.video-area .logo {
	margin-bottom: 10px; /* width:520px;height:109px;*/
	width: 420px;
	height: 88px;
	background-repeat: no-repeat;
	background-position: -10px 0;
	background-size: 100% 100%;
	background-image: url(../img/p1.png);
}

.video-area .laymid {
	position: relative;
	top: 50%;
	width: 420px;
	height: 200px;
	margin: 0 auto;
}

.video-area .am-bg {
	overflow: hidden;
}

.video-area .click-me a {
	display: block;
	text-decoration: none;
	float: left;
}

.video-area .am-button {
	text-align: center;
	cursor: pointer;
	display: block;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari 鍜�Chrome */
	border-radius: 3px; /* Opera 10.5+, 浠ュ強浣跨敤浜咺E-CSS3鐨処E娴忚鍣�*/
	outline: none;
	border: none;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	width: 186px;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	margin-right: 20px;
}

.video-area .button-login {
	letter-spacing: 5px;
	border-color: #f16f3e;
}

.video-area .button-register {
	border-color: #ffffff;
}

